@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  max-width: 65%;
  margin: auto;
  line-height: 1.0;
  padding: 15px 0px;
  font-size: 12pt;
}

.header { line-height: 1.5; }

.email {
  font-size: 25%;
  font-family: monospace;
  white-space: pre;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.code {
  font-size: smaller;
  background-color: grey;
  font-family: "JetBrains Mono", monospace;
  white-space: pre;
  width: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1;
  display: block;
}
