body {
  max-width: 65%;
  margin: auto;
  line-height: 1.5;
  padding: 15px 0px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  margin: 8px 0px;
}

code {
  color: #505050;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1.75px;
}

pre {
  background: #f4f4f4;
  color: #505050;
  padding: 20px 0px 0px 20px;
  overflow: auto;
}
