@font-face {
  font-family: "LiberationMono";
  src: url("fonts/LiberationMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LiberationMono";
  src: url("fonts/LiberationMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LiberationMono";
  src: url("fonts/LiberationMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LiberationMono";
  src: url("fonts/LiberationMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LiberationSerif";
  src: url("fonts/LiberationSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LiberationSerif";
  src: url("fonts/LiberationSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LiberationSerif";
  src: url("fonts/LiberationSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LiberationSerif";
  src: url("fonts/LiberationSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: LiberationSerif, serif;
  font-size: 12pt;
  line-height: 1.2;
  max-width: 65%;
  margin: auto;
  padding: 15px 0px;
}

.email {
  font-family: LiberationMono, monospace;
  font-size: 25%;
  white-space: pre;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

code {
  font-family: LiberationMono, monospace;
  font-size: smaller;
}

code {
  background-color: #eeeeee;
  color: darkgrey;
  border-radius: 3px;
  padding: 2px 4px;
}

pre {
  font-size: inherit;
  white-space: pre-wrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
}
